extends layout

block content
  img.bg(src='https://mika-kaakinen-bucket.s3.eu-west-2.amazonaws.com/bg_1.jpg' alt='Elokuvat')
  header
    .logo
      .photo
        img(src='https://mika-kaakinen-bucket.s3.eu-west-2.amazonaws.com/e_9thumb.jpg' alt='Eddie Vedder' height='100' width='73')
      .name
        h1 Hyv&auml;t elokuvat- tietokanta
      #navToggle
        a(href='#') Menu
    nav
      ul
        li.nav__item
          a.nav__link(href='http://www.mikakaakinen.fi/#/anand')
            i.fas.fa-home
            | Home
        li.nav__item
          a.nav__link(href='http://www.mikakaakinen.fi/arvot/')
            i.far.fa-heart
            | Arvot
        li.nav__item
          a.nav__link(href='http://www.mikakaakinen.fi/osaaminen/')
            i.fas.fa-database
            | Taidot
        li.nav__item.nav__item--sub
          a.nav__link(href='#')
            i.fas.fa-chess-king
            | Harrastukset
            span.toggle Expand
            i.fa.fa-angle-down
          ul.children
            li.nav__item--sub
              a.nav__link--sub(href='http://www.mikakaakinen.fi/elokuvat/') Elokuvat
            li.nav__item--sub
              a.nav__link--sub(href='http://www.mikakaakinen.fi/italia/') Italia
            li.nav__item--sub
              a.nav__link--sub(href='http://www.mikakaakinen.fi/kirjallisuus/') Kirjallisuus
            li.nav__item--sub
              a.nav__link--sub(href='http://www.mikakaakinen.fi/musiikki/') Musiikki
            li.nav__item--sub
              a.nav__link--sub(href='http://www.mikakaakinen.fi/shakki/') Shakki
            li.nav__item--sub
              a.nav__link--sub(href='http://www.mikakaakinen.fi/liikunta/') Liikunta
            li.nav__item--sub
              a.nav__link--sub(href='http://www.mikakaakinen.fi/kuvagalleria/') Kuvagalleria
            li.nav__item--sub
              a.nav__link--sub(href='http://www.mikakaakinen.fi/brucespringsteen/') Bruce Springsteen
            li.nav__item--sub
              a.nav__link--sub(href='http://www.mikakaakinen.fi/eddievedder/') Eddie Vedder
        li.nav__item.nav__item--sub
          a.nav__link(href='#')
            i.fas.fa-language
            | Kielet
            span.toggle Expand
            i.fa.fa-angle-down
          ul.children
            li.nav__item--sub
              a.nav__link--sub(href='http://www.mikakaakinen.fi/#/anand') FI
            li.nav__item--sub
              a.nav__link--sub(href='http://www.mikakaakinen.fi/english/#/anand') EN
            li.nav__item--sub
              a.nav__link--sub(href='http://www.mikakaakinen.fi/swedish/#/anand') SE
            li.nav__item--sub
              a.nav__link--sub(href='http://www.mikakaakinen.fi/italian/#/anand') IT
  main
    .content
      h2 Tervetuloa Hyv&auml;t elokuvat- tietokantaan 
      h3 Alla n&auml;et kaikki ne elokuvat, joita voit hakea tietokannasta
      .imagegallery.clearfix
        ul
          li
            img(src='https://mika-kaakinen-bucket.s3.eu-west-2.amazonaws.com/28%20Weeks%20Later_thumbnail.jpg' alt='1')
            h3 28 Weeks Later
          li
            img(src='https://mika-kaakinen-bucket.s3.eu-west-2.amazonaws.com/Notting%20Hill_thumbnail.jpg' alt='2')
            h3 Notting Hill
      form.text-top(action='/' method='post')
        label(for='elokuvan nimi') Sy&ouml;t&auml; elokuvan nimi:
        input(type='text' name='nimi_kentta' id='elokuvan nimi' value='Elokuvan nimi')
        input(type='submit' value='Lähetä')
      if docs
        h2.text-top.text-bottom.b-r-u-2 Tulokset tietokannasta
        .flex__container
          each doc in docs
            .flex__item--1
              h3.b-r-u-1 Elokuvan nimi
              p.text-center #{doc['Elokuvan_nimi']}
              h3.b-r-u-1 Ohjaaja
              p.text-center #{doc['Ohjaaja']}
              h3.b-r-u-1 N&auml;yttelij&auml;t
              p.text-center #{doc['Nayttelijat']}
              h3.b-r-u-1 Genre
              p.text-center #{doc['Genre']}
              h3.b-r-u-1 Rotten Tomatoes pisteet
              p.text-center #{doc['Rotten_Tomatoes_pisteet']}
              h3.b-r-u-1 Sertifikaatti
              p.text-center #{doc['Sertifikaatti']}
              h3.b-r-u-1 Kuvaus
              p.text-center #{doc['Kuvaus']}
            .flex__item--2
              img.border(alt='Elokuva' src=`${doc['Kuva']}`)   
      if docs
        .flex__container.text-bottom
          each doc in docs
            h3.b-r-u-1 Oma arvio
            p #{doc['Oma_arvio']}