extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/' method='post')
    label(for='elokuvan_nimi') Sy&ouml;t&auml; elokuvan nimi: 
    input#elokuvan_nimi(type='text' name='nimi_kentta' value='Elokuvan nimi')
    input(type='submit' value='OK')
  h2= "Results from MongoDB:"
  if docs
    each doc,i in docs
      tr
        td #{doc['_id']}
        td #{doc['Elokuvan_nimi']}
        td #{doc['Nayttelijat']}
        td #{doc['Genre']}
        td img(alt='Wikipedia', src="#{doc['Kuva']}")
      