extends layout

block content
  img.bg(src='https://mika-kaakinen-bucket.s3.eu-west-2.amazonaws.com/bg_1.jpg' alt='Elokuvat')
  header
  .logo
    .photo
      img(src='https://mika-kaakinen-bucket.s3.eu-west-2.amazonaws.com/e_9thumb.jpg' alt='Eddie Vedder' height='100' width='73')
    .name
      h1 Hyv&auml;t elokuvat- tietokanta
    #navToggle
      a(href='#') Menu
  nav
    ul
      li.nav__item
        a.nav__link(href='/')
          i.fas.fa-home
          | Home
      li.nav__item
        a.nav__link(href='../arvot')
          i.far.fa-heart
          | Arvot
      li.nav__item
        a.nav__link(href='../osaaminen')
          i.fas.fa-database
          | Taidot
      li.nav__item.nav__item--sub
        a.nav__link(href='#')
          i.fas.fa-chess-king
          | Harrastukset
          span.toggle Expand
          i.fa.fa-angle-down
        ul.children
          li.nav__item--sub
            a.nav__link--sub(href='../elokuvat') Elokuvat
          li.nav__item--sub
            a.nav__link--sub(href='../italia') Italia
          li.nav__item--sub
            a.nav__link--sub(href='../kirjallisuus') Kirjallisuus
          li.nav__item--sub
            a.nav__link--sub(href='../musiikki') Musiikki
          li.nav__item--sub
            a.nav__link--sub(href='../shakki') Shakki
          li.nav__item--sub
            a.nav__link--sub(href='../liikunta') Liikunta
          li.nav__item--sub
            a.nav__link--sub(href='../kuvagalleria') Kuvagalleria
          li.nav__item--sub
            a.nav__link--sub(href='../brucespringsteen') Bruce Springsteen
          li.nav__item--sub
            a.nav__link--sub(href='../eddievedder') Eddie Vedder
          li.nav__item--sub
            a.nav__link--sub(href='../karuselli') Karuselli
      li.nav__item.nav__item--sub
        a.nav__link(href='#')
          i.fas.fa-language
          | Kielet
          span.toggle Expand
          i.fa.fa-angle-down
        ul.children
          li.nav__item--sub
            a.nav__link--sub(href='#') FI
          li.nav__item--sub
            a.nav__link--sub(href='../english') EN
          li.nav__item--sub
            a.nav__link--sub(href='../swedish') SE
          li.nav__item--sub
            a.nav__link--sub(href='../italian') IT
  main
    .content
      h1 Tervetuloa Hyv&auml;t elokuvat- tietokantaan 
      h2 Alla n&auml;et kaikki ne elokuvat, joita voit hakea tietokannasta
      h3 28 Weeks Later, Notting Hill
      form(action='/' method='post')
        label(for='elokuvan nimi') Sy&ouml;t&auml; elokuvan nimi
        input(type='text' name='nimi_kentta' id='elokuvan nimi' value='Elokuvan nimi')
        input(type='submit' value='Lähetä')
      .flex__container
        .flex__item--1
          h2 Tulokset tietokannasta
          if docs
            each doc in docs
              ul
                li
                  h3 Elokuvan nimi
                  p #{doc['Elokuvan_nimi']}
                li
                  h3 N&auml;yttelij&auml;t
                  p #{doc['Nayttelijat']}
                li
                  h3 Genre
                  p #{doc['Genre']}
                li
                  h3 Rotten Tomatoes pisteet
                  p #{doc['Rotten_Tomatoes_pisteet']}
                li
                  h3 Sertifikaatti
                  p #{doc['Sertifikaatti']}
                li
                  h3 Kuvaus
                  p #{doc['Kuvaus']}
                li
                  h3 Oma arvio
                  p #{doc['Oma_arvio']}
            .flex__item--2
              img(alt='Elokuva' src=`${doc['Kuva']}`) 